body {
}
#content {
    padding: 75px 40px 40px;
}
a {
  color: #00B7FF;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand > img {
    width: 40px;
}
.tweet-header h1, .tweet-header h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.tweet-item {
    margin-bottom: 20px;
    color: #fff;
}
.tweet-item__inner {
    padding: 5px 10px;
    background-color: #262626;
    height: 150px;
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .auto-clear .col-sm-6:nth-child(2n+1){ 
        clear:left; 
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .auto-clear .col-md-4:nth-child(3n+1){ 
        clear:left;
    }
}
@media screen and (min-width: 1200px) {
    .auto-clear .col-lg-3:nth-child(4n+1){
        clear:left;
    }
}